.container{
    width: 400px;
    background-color: aliceblue;
    border-radius: 8px;
    border: 1px solid #000000;
    margin-bottom: 1em;
    margin-top: 1em;
}

.img{
    image-orientation: from-image;
    width: 398px;
    height: 300px;
}

h1{
    text-align: center;
}