.form-step{
    text-align: left;
}

.field1 label, input, textarea{
    text-align: center;
    display: block;
    width: 80%;
    padding: .5rem .8rem .5rem .8rem;
    margin: .9vw 0 ;
    border:0;
    border-radius: 5px;
    font-size: 20px;
    margin-bottom: 5px;
}

.field1 textarea{
    height: 15vh;
}

.button{
    background-color: #a24aaa;
    border: none;
    border-radius: 12px;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 250px;
}

