.doar_container{
    width: 450px;
    margin: 0 auto;
    padding: 2em;
    align-items: center;
}
.doar_container h1{
    margin-bottom: 0.5em;
}
span{
    color: rgb(228, 214, 214);
    padding: 0 0.2em;
    background-color: #222;
}