.home_container{
    background-position: center center;
    flex-direction: column;
    display: flex;
    align-items: center;
    justify-content: center;
}

.home_container h1{
    font-size: 2em;
    margin-bottom: .5em;
    margin: 0 .1em;
    text-align: left;
    background-color: transparent;
    color:aliceblue;
}
.home_container p{
    padding: 2px;
    font-size: 1em;
    margin-bottom: 3em;
    color:aliceblue;
}

.home_container img{
    width: 100%;
    margin: 1% 0;
    padding-top: 2em;
    height: auto;
}

.home_container label{
    font-size: 20px;
    background-color: aliceblue;
    width: 700px;
    background-color: aliceblue;
    border-radius: 8px;
    margin-bottom: 1em;
    margin-top: 1em;
    padding: '5px',
}