.receber_container{
    width: 450px;
    margin: 0 auto;
    padding: 2em;
}

.receber_container h1{
    margin-bottom: 0.5em;
}
span{
    color: rgb(207, 207, 193);
    padding: 0 0.2em;
    font-size: large;
    background-color: #222;
}