.btn {
    background-color: rgb(228, 214, 214);
    color: #222;
    border: 2px solid rgb(176, 22, 214);
    padding: 15px 32px;
    text-decoration: none;
    transition: 0.5s;
    margin: 25px 25px 25px;
    display: inline-block;
    font-size: 24px;
    border-radius: 5px;
    width: 20%;
    text-align: center;
  }

  .btn:hover {
    color: rgb(176, 22, 214);
  }